<mat-card>
    <mat-card-header>
        <h2>LoginForm</h2>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" required/>
                    <mat-icon matTextSuffix>mail</mat-icon>
                </mat-form-field>
            </form>
            <form>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" name="password" required/>
                    <mat-icon matTextSuffix>password</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="#f9f9f9">Login</button>
            </form>
        </mat-card-content>
    </mat-card-header>
</mat-card>
